* {
    font-family: 'Source Code Pro';
}
textarea {
    line-height: 1.5;
    border-radius: 5px;
    border: .75px solid #bbb;
    resize: none;
}
.codearea {
    position: absolute;
    top: 590;
    left: 75;
    margin-bottom: 75px;
    padding: 12px;
    box-shadow: 1px 1px 1px #999;
}
.arrname {
    position: absolute;
    top: 550;
    left: 75;
    padding-left: 12px;
}
.arrlabel {
    position: absolute;
    top: 525;
    left: 75;
}
